
<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8"/>
		<meta content="width=device-width, initial-scale=1" name="viewport"/>
		<title>ToDoList-Web - Registrieren</title>
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&amp;display=swap" rel="stylesheet"/>
		<link rel="stylesheet" th:href="@{/css/style.css}"/>
		<link href="/favicon.ico?v=1" rel="icon" type="image/x-icon"/>
		<link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet"/>
		<script defer="" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"/>
	</head>
	<body>
		<div class="container login-center">
			<h2>Registrieren</h2>
			<div class="success" th:if="${param.success}">
        Registrierung erfolgreich! Du kannst dich jetzt <a th:href="@{/login}">einloggen</a>.
    </div>
			<form method="post" th:action="@{/register}" th:object="${registrationDto}">
				<div class="input-field">
					<input id="username" required="" th:field="*{username}" type="text"/>
					<label for="username">Benutzername</label>
					<div class="error" th:errors="*{username}" th:if="${#fields.hasErrors('username')}"/>
				</div>
				<div class="input-field">
					<input id="email" required="" th:field="*{email}" type="email"/>
					<label for="email">E-Mail</label>
					<div class="error" th:errors="*{email}" th:if="${#fields.hasErrors('email')}"/>
				</div>
				<div class="input-field">
					<input id="password" required="" th:field="*{password}" type="password"/>
					<label for="password">Passwort</label>
					<div class="error" th:errors="*{password}" th:if="${#fields.hasErrors('password')}"/>
				</div>
				<div class="input-field">
					<input id="confirmPassword" required="" th:field="*{confirmPassword}" type="password"/>
					<label for="confirmPassword">Passwort bestätigen</label>
					<div class="error" th:errors="*{confirmPassword}" th:if="${#fields.hasErrors('confirmPassword')}"/>
				</div>
				<div class="center-align">
					<button class="btn waves-effect waves-light blue" type="submit">Registrieren</button>
				</div>
			</form>
			<div class="link">
				<p>Bereits registriert? <a th:href="@{/login}">Zum Login</a>
				</p>
			</div>
		</div>
	</body>
</html>
